#traffic{
    width: 400px;
    height: 700px;
    background-color: black;
    border-radius: 50px;
    margin-left: 500px;
}
#red{
    background-color:white;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border-radius: 100%;
    transition: 0.5s;
}
#yellow{
    background-color: white;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 100%;
    transition: 0.5s;
}
#green{
    background-color: white;
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 100%;
    transition: 0.5s;
}
#d{
    background-color: black;
    width: 50px;
    height: 200px;
    margin-left: 170px;
}
div{
    width: 700px;
    height: 600px;
    background-color: beige;
    margin-left: 400px;
}

h1{
    text-align: center;
}
img{
    margin-left: 220px;
}
p{
    padding: 50px;
}
a{
    margin-left: 300px;
}